@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cute+Font:400');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Ink&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower:400');
@import url('https://fonts.googleapis.com/css?family=Poor+Story:400');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:400');

.gamjaflower { font-family: 'Gamja Flower';
  font-size: 19px;
}

.poorstory { font-family: 'Poor Story';
  font-size: 19px;
}


h1 {
  font-family: 'Cute Font';
  font-size: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.blaka {
  font-family: 'Blaka Ink', cursive;
  font-size: 50px;
}

.cutefont {
  font-family: 'Cute Font';
  font-size: 30px;
}

.insta {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 900;
}

.justify-center{
  display: flex; justify-content: center;
}


.justify-space{
  display: flex; justify-content: space-between;
}

.justify-end{
  display: flex; justify-content: end;
}

.justify-start{
  display: flex; justify-content: start;
  padding-left: 10px;
}

.justify-evenly{
  display: flex; 
  justify-content: space-evenly; 
  align-items: center;
}


.padzero {
  --bs-btn-padding-y: .25rem; 
  --bs-btn-padding-x: .35rem; 
  --bs-btn-font-size: .5rem;
}

.bgimg {
  background-image: url('https://item.kakaocdn.net/do/5dcb1654f9fe73ffb62e88fcf31505337154249a3890514a43687a85e6b6cc82');
  background-repeat: repeat-x;
  
  
  /* background-size: cover; */
  /* background-position: center; */
}

.oneline-head {
  display: flex; justify-content: start; align-items: center;
  height: 50px;
  border: solid 1px skyblue;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgb(147, 206, 249);
  font-weight: bold;
  color: white;
}


.oneline {
  display: flex; justify-content: start; align-items: center;
  height: 35px;
  border: solid 1px skyblue;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgb(227, 242, 253);
  font-family: 'Cute Font';
  font-size: 23px;
}


.oneline-popluar {
  display: flex; justify-content: start; align-items: center;
  height: 35px;
  border: solid 1px skyblue;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgb(252, 226, 253);
  font-family: 'Cute Font';
  font-size: 23px;
}

.oneline-page {
  display: flex; justify-content: center; align-items: center;
  height: 35px;
  margin-top: 50px;
  font-family: 'Cute Font';
  font-size: 23px;
}

.pagebox {
  width: 40px;
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
  border-color: antiquewhite;
  background-color: rgb(255, 231, 255);
}

.pagebox:hover {
  border:solid 1px antiquewhite;
}

cell {
  width: 135px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

cell2{
  width: 70px;
  padding-left: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

datecell {
  width: 145px;
  padding-left: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}


.divtitle {
  width: 570px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}


a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
}

a:hover {
  text-decoration: underline;
}

.textarea-content {
  width: 95%;
  height: 100%;
  margin: 30px;

}

.searchinput {
  width: 350px;
  border-radius: 50px;
  border:solid 1px skyblue;
  outline: none;
  
}

.searchinput:hover {
  border:solid 1px blue;
}

.searchbox {
  border: solid 1px skyblue;
  background-color: white;
  font-family: 'Cute Font';
  font-size: 20px;

}

.purchasebox {
  border: solid 2px skyblue;
  background-color: white;
  font-family: 'Cute Font';
  font-size: 25px;
  margin-left: 5px;

}

.purchasebox:hover {
  border:solid 2px aquamarine;
}

.titlebox {
  width: 600px;
  border-radius: 10px;
  border:solid 1px darkcyan;
  outline: none;

}

.loginbox {
  display: block;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  border:solid 1px slateblue;
  outline: none;

}

.passwordbox {
  width: 130px;

  border: solid 1px skyblue;
  background-color: white;

}

.shopbox {
  width: fit-content;
  padding: inherit;
  border-radius: 10px;
  border:solid 1px darkcyan;
  border-top: none;
  border-bottom: none;
  outline: none;
  margin-bottom: 50px;
}

.upbox {
  font-weight: bold;
  color: lightcoral;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: solid 1px skyblue;
  background-color: white;
}

.upbox:hover {
  border:solid 1px lightcoral;
}

.comment-box {
  width: 170px;
  height: 50px;
  background-color: wheat;
  align-items: center;
  font-weight: bold;
}
.comment-box2 {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  width: 1100px;
  height: 50px;
  background-color: whitesmoke;
  align-items: center;
}

.comment-date {
  font-size: 13px;
  margin-right: 10px;
}

.comment-border {
  border: solid 1px burlywood;
  border-bottom: none;
  padding: 0px;
}

.header-titlebox {
  font-family: 'Do Hyeon';
  display: flex;
  align-items: baseline;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 30px;

}

.header-group {
  font-size: 20px;
  margin-right: 5px;

}

.header-box {
  display: flex;
  align-items: center;
  border: dotted 2px powderblue;
  width: fit-content;
  padding-right: 20px;
}

.header-imagebox {
  margin: 15px;
}

.header-namebox {
  font-family: 'Gamjz Flower';
  font-size: 16px;
  font-weight: bold;
  color: palevioletred;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 10px;
}

.header-viewbox {
  font-family: 'Cute Font';
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.header-search {
  display: flex; justify-content: space-between; align-items: baseline;
}

.colorbox {
  width: 50px;
  height: 50px;
  margin: 5px;
}

/* .header-all {
  border: dotted 1px powderblue;
} */