{% extends 'base.html' %}
{% load static %}
{% block content %}
  <hr>
  <section class="poorstory">
    <header class="header-all">
      <div class="header-titlebox">
        <div class="header-group">[{{ article.header }}]</div>
        <div>{{ article.title }}</div>
      </div>
      <div class="header-box">
        <div class="header-imagebox">
          <img style="width: 100px; height: 100px; margin-right: 5px;" src="{% static profi.icon_url %}" alt="icon"/>
        </div>
        <div>
          <div class="header-namebox">
            <div>{{ article.username }}</div>
          </div>
          <div class="header-viewbox">
            <div>포인트:
              {{ article.point }}</div>
            <div>조회:
              {{ article.count }}</div>
            <div>
              작성:
              {{ article.created_at|date:"y-m-d (h:i)" }}</div>
          </div>
        </div>
      </div>
    </header>

    <div class="textarea-content">
      {{ article.content }}</div>

    <div class="justify-center">
      <button class="upbox" type="button" data-bs-toggle="modal" data-bs-target="#upcheck">
        <div>{{ article.up_count }}</div><img style="width: 30px;" src="{% static 'img/up.jpg' %}" alt="">
      </button>
    </div>
  </section>
  <hr>
  <footer class="poorstory">
    <div style="border-bottom: solid 1px burlywood;">
      {% for comment in comments %}
        <div class="justify-start comment-border">
          <div class="justify-start comment-box">
            <img style="width: 20px; height: 20px; margin-right: 5px;" src="{% static comment.profile %}" alt="icon"/>
            {{ comment.username }}
          </div>
          <div class="comment-box2">
            <div>{{ comment.content }}</div>
            <div class="d-flex align-items-center">
              <div class="comment-date">{{ comment.created_at }}</div>
              <div>
                <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
                  {% csrf_token %}
                  <button style="padding: 0px; width: 15px; height: 15px; border: none; margin-right: 5px;" type="submit">
                    <img style="width: 100%; height: 100%;" src="{% static 'img/x.png' %}" alt="xbutton"/>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <hr>
    <form action="{% url 'articles:comment' article.pk %}" class="d-flex align-items-center" method="POST">
      {% csrf_token %}
      <label for="comment">댓글 &nbsp;
      </label>
      <textarea maxlength="50" name="comment" id="comment" cols="100" rows="1" placeholder="여기에 댓글을 다세염"></textarea>
      <button type="submit">댓글달기</button>
    </form>
    <hr>
    <div class="d-flex justify-content-start">
      <form action="{% url 'articles:update' article.pk %}">
        <button>수정</button>
      </form>
      <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <button>삭제</button>
      </form>
      <a href="{% url 'articles:index' %}">Back</a>
    </div>
  </footer>
  <!--modal-->
  <div class="modal fade" id="upcheck" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">추천?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          추천할래?
        </div>
        <div class="modal-footer">
          <form action="{% url 'articles:upcount' article.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">추천</button>
          </form>

          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">시러</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
