{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>{{ article.title }}</h1>
  <hr>
  <section class="poorstory">
    <div class="justify-end">
      <p>조회수:
        {{ article.count }}</p>
    </div>
    <div class="textarea-content">
      {{ article.content }}</div>
    <p>
      작성시간 :{{ article.created_at }}</p>
    <p>
      수정시간 :{{ article.updated_at }}</p>

    <button type="button" data-bs-toggle="modal" data-bs-target="#upcheck">개추</button>
    :
    {{ article.up_count }}

  </section>
  <hr>
  <footer class="poorstory">
    {% for comment in comments reversed %}
      <div class="justify-start">
        <img style="width: 20px; height: 20px; margin-right: 5px;" src="{% static comment.profile %}" alt="icon"/>

        <p>
          {{ comment.username}}
          :
          {{ comment.content }}</p>
      </div>
    {% endfor %}

    <form action="{% url 'articles:comment' article.pk %}" class="d-flex align-items-center" method="POST">
      {% csrf_token %}
      <label for="comment">댓글 &nbsp;
      </label>
      <textarea name="comment" id="comment" cols="100" rows="1" placeholder="여기에 댓글을 다세염"></textarea>
      <button type="submit">댓글달기</button>
    </form>
    <hr>
    <div class="d-flex justify-content-start">
      <form action="{% url 'articles:update' article.pk %}">
        <button>수정</button>
      </form>
      <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <button>삭제</button>
      </form>
      <a href="{% url 'articles:index' %}">Back</a>
    </div>
  </footer>
  <!--modal-->
  <div class="modal fade" id="upcheck" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">추천?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          추천할래?
        </div>
        <div class="modal-footer">
          <form action="{% url 'articles:upcount' article.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">추천</button>
          </form>

          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">시러</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}