{% extends 'base.html' %}
{% load static %}
{% block content %}

  <img src="{% static 'img/ssafy.png' %}" width="20%" alt="image"/>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/AgafdeqkVR4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
  <iframe width="200" height="30" src="https://www.youtube.com/embed/AgafdeqkVR4" frameborder="0"></iframe>
  <hr>
  <audio controls="controls" src="{% static 'music/summer.mp3' %}" type="audio/mp3" loop="loop"></audio>

  <a download="download" href="{% static 'img/ssafy.png' %}">
    Dowmload
  </a>
  <hr>
  <a href="{% url 'articles:index' %}">돌아가기</a>
{% endblock content %}
