{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="header-search">
    <h1>전체게시판</h1>
    <form action="{% url 'articles:search' %}">
      <input class="searchinput" type="search" name="q">
      <input class="searchbox" type="submit" value="검색">
    </form>
  </div>
  <section>
    <div class="oneline-head">
      <cell>
        ID
      </cell>
      <cell>
        구분
      </cell>
      <div class="divtitle">
        내용
      </div>
      <cell style="margin-left: 20px;">
        글쓴이
      </cell>
      <cell2>
        추천
      </cell2>
      <cell2>
        조회
      </cell2>
      <datecell>
        날짜
        {{ time.time }}
      </datecell>
    </div>
    {% for popular in article_popular %}
      <div class="oneline-popluar">
        <cell>
          {{ popular.pk }}
        </cell>
        <cell>
          {{ popular.header }}
        </cell>
        <div class="divtitle">
          <a href="{% url 'articles:detail' popular.pk %}">
            {{ popular.title }}
            {{ popular.comment_count }}
          </div>
        </a>
        <img style="width: 20px; height: 20px;" src="{% static popular.profile %}" alt="icon"/>
        <cell>
          {{ popular.username }}</cell>
        <cell2>
          {{ popular.up_count }}</cell2>
        <cell2>
          {{ popular.count }}</cell2>
        {% if popular.time_slice <= 86400 %}
          <datecell>
            {{ popular.created_at|date:"h:i" }}
          </datecell>
        {% else %}
          <datecell>
            {{ popular.created_at|date:"y-m-d" }}
          </datecell>
        {% endif %}
      </div>
    {% endfor %}
    {% for article in articles %}
      <div class="oneline">
        <cell>
          {{ article.pk }}
        </cell>
        <cell>
          {{ article.header }}
        </cell>
        <div class="divtitle">
          <a href="{% url 'articles:detail' article.pk %}">
            {{ article.title }}
            {{ article.comment_count }}
          </div>
        </a>
        <img style="width: 20px; height: 20px;" src="{% static article.profile %}" alt="icon"/>
        <cell>
          {{ article.username }}</cell>
        <cell2>
          {{ article.up_count }}</cell2>
        <cell2>
          {{ article.count }}</cell2>
        {% if article.time_slice <= 86400 %}
          <datecell>
            {{ article.created_at|date:"h:i" }}
          </datecell>
        {% else %}
          <datecell>
            {{ article.created_at|date:"y-m-d" }}
          </datecell>
        {% endif %}
      </div>
    {% endfor %}
    <footer class="oneline-page">
      {% for pag in range %}
        {% if pag != 1 and pag == interval %}
          <a style="margin-right: 10px;" href="?page={{ interval|add:-3}}">이전</a>
        {% endif %}
        {% if pag < interval_2 %}
          <form href="{% url 'articles:index' %}">
            <input class="pagebox" type="submit" name="page" value="{{ pag }}">
          </form>
        {% elif pag == interval_2 %}
          <a style="margin-left: 10px;" href="?page={{ interval|add:paginations_size }}">다음</a>
        {% endif %}
      {% endfor %}

    </footer>
  </section>
{% endblock content %}
