{% extends 'base.html' %}
{% block content %}

  <h1>전체게시판</h1>
  <section>
    <div class="oneline-head">
      <cell>
        ID
      </cell>
      <cell>
        구분
      </cell>
      <div class="divtitle">
        내용
      </div>
      <cell>
        글쓴이
      </cell>
      <cell2>
        추천
      </cell2>
      <cell2>
        조회
      </cell2>
      <cell2>
        날짜
      </cell2>
    </div>
    {% for popular in article_popular %}
      <div class="oneline-popluar">
        <cell>
          {{ popular.pk }}
        </cell>
        <cell>
          {{ popular.header }}
        </cell>
        <div class="divtitle">
          <a href="{% url 'articles:detail' popular.pk %}">
            {{ popular.title }}
            {{ popular.comment_count }}
          </div>
        </a>

        <cell>
          {{ popular.username }}</cell>
        <cell2>
          {{ popular.up_count }}</cell2>
        <cell2>
          {{ popular.count }}</cell2>
        <div>
          {{ popular.created_at|date:"y-m-d m:s" }}
        </div>
      </div>
    {% endfor %}
    {% for article in articles %}
      <div class="oneline">
        <cell>
          {{ article.pk }}
        </cell>
        <cell>
          {{ article.header }}
        </cell>
        <div class="divtitle">
          <a href="{% url 'articles:detail' article.pk %}">
            {{ article.title }}
            {{ article.comment_count }}
          </div>
        </a>

        <cell>
          {{ article.username }}</cell>
        <cell2>
          {{ article.up_count }}</cell2>
        <cell2>
          {{ article.count }}</cell2>
        <div>
          {{ article.created_at|date:"y-m-d m:s" }}
        </div>
      </div>
    {% endfor %}
    <footer class="oneline-page">
      {% for pag in range %}
        {% if pag != 1 and pag == interval %}
          <a style="margin-right: 10px;" href="?page={{ interval|add:-3}}">이전</a>
        {% endif %}
        {% if pag < interval_2 %}
          <form href="{% url 'articles:index' %}">
            <input class="pagebox" type="submit" name="page" value="{{ pag }}">
          </form>
        {% elif pag == interval_2 %}
          <a style="margin-left: 10px;" href="?page={{ interval|add:paginations_size }}">다음</a>
        {% endif %}
      {% endfor %}

    </footer>
  </section>
{% endblock content %}
