{% extends 'base.html' %}
{% block content %}

  <h1>전체게시판</h1>
  <section>
    <div class="oneline-head">
      <cell>
        ID
      </cell>
      <cell>
        구분
      </cell>
      <div class="divtitle">
        내용
      </div>
      <cell>
        글쓴이
      </cell>
      <cell2>
        추천
      </cell2>
      <cell2>
        조회
      </cell2>
      <cell2>
        날짜
      </cell2>
    </div>
    {% for article in articles reversed %}
      <div class="oneline">
        <cell>
          {{ article.pk }}
        </cell>
        <cell>
          {{ article.header }}
        </cell>
        <div class="divtitle">
          <a href="{% url 'articles:detail' article.pk %}">
            {{ article.title }}
            {{ article.comment_count }}
          </div>
        </a>

        <cell>
          {{ article.username }}</cell>
        <cell2>
          {{ article.up_count }}</cell2>
        <cell2>
          {{ article.count }}</cell2>
        <div>
          {{ article.created_at|date:"y-m-d m:s" }}
        </div>
      </div>

    {% endfor %}
  </section>
{% endblock content %}