{% extends 'base.html' %}

{% block content %}
  <div class="bg-container2 test-box">
    <div class="bg-container test-box">
      <div class="searchinput2">
        <img src="https://w7.pngwing.com/pngs/682/670/png-transparent-magnifying-glass-computer-icons-patent-circle-dots-floating-material-glass-trademark-business.png" alt="">
        <input class="searchinput" type="search" placeholder="Google 검색 또는 URL 입력">
      </div>
      <div class="inputdiv">
        <input type="button" class="test-box inputbox" value="Google 검색">
        <input type="button" class="test-box inputbox2" value="I'm Feeling Lucky">
      </div>
    </div>
  </div>

{% endblock content %}
